<h1>Подборка новых тренировок от тренеров на которых вы подписаны</h1>
<h2>Возможно вы пропустили:</h2>

<ul>
  {{#each workouts}}
    <li>
        <p> <b>Название:</b> {{name}}</p>
      {{#if description}}
        <p> <b>Описание:</b> {{description}}</p>
      {{/if}}
      <p> <b>Тип тренировки:</b> {{workoutType}}</p>
      <p> <b>Уровень подготовки :</b> {{fitnessLevel}}</p>
      <p> <b>Длительность тренировки:</b> {{workoutTime}}</p>
      <p> <b>Цена :</b> {{price}}</p>
      <p> <b>Количество калорий :</b> {{calories}}</p>
      <p> <b>Пол :</b> {{sex}}</p>
      <p> <b>Специальное предложение :</b> {{isSpecialOffer}}</p>
      {{/each}}
</ul>

